<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">userName</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of registers; let indx=index">
      <th scope="row">{{ indx + 1 }}</th>
      <td>{{item.user}}</td>
      <td>{{item.pass}}</td>
    </tr>
  </tbody>
</table>
